.sidebar p{
	color: Blue;

	font-family: arial
	
}

h1 {text-transform: uppercase;

font-family: impact;

font-size: 40px;

margin: 10px;

}

h2 {text-transform: uppercase;

font-family: impact;

}

ul{font-family: verdana}