.header{border-bottom: 3px solid blue;
		background-color: #E0ECF8;
		padding:10px 10px 10px 10px;
	}

#top-menu { border-bottom: 1px dotted blue;
	font-size: 20px;
	width: 940px;
	padding:10px 10px 10px 5px;
	display: inline-block;
  }


.clearfix{clear:both;}

.nav ul li{text-transform: uppercase;
			float:right;
			list-style-type: none;
			margin-right: 25px;
			font-weight: bold;
		}

.nav a:hover {
	border-bottom: 10px solid red;}

.sidebar p{
	color: Brown;
	font-family: "arial";
}

.container {width:960px;
			margin-right: auto; 
			margin-left: auto;

}

.sidebar {
	clear: both;
	display: block;}


.old-post {
 float: left;
 padding:3px 3px 3px 3px;
 margin-top: 2px;
 width:220px;
}

#content {
   float: right;
    width: 700px;
    margin: 5px;

}


h1 {text-transform: uppercase;
font-family: "impact";
font-size: 40px;
margin: 10px;

}

h2 {text-transform: uppercase;
font-family: "impact";
padding:0px 3px 3px 3px;
font-size: 25px;
margin: 0px;

}

ul{font-family: "verdana";}

