
.header-title a {text-decoration: none;
			color:black;
			font-size: 40px;
			font-family: 'Lobster', cursive;
				}

.Top-header {width:100%;
		height:50px;
		background-color:grey;
			}


#header img {width:110px;
			border-radius: 60px;
			background: #999999;
			margin-top: 5px;
			}

.container p img {
				text-align: center;
				width: 25px;
				height: 25px
				}
#contact p {text-align: center;}

#header {border-bottom: 3px solid grey;
		background-color:none;
		padding:0px 0px 0px 0px;
		height: 220px;
		text-align: center;}

#top-menu { font-size: 25px;
	width: 60%;
	display: inline-block;
	float:right;
	text-align: top;
	 }


.clearfix{clear:both;}

.nav ul li{text-transform: uppercase;
			float:right;
			list-style-type: none;
			margin-right: 20px;
			font-weight: bold;
			font-size: 22px;
			font-family: 'Oswald', sans-serif;
		}

.nav a:hover {
	border-bottom: 10px grey;}

.nav a{
	text-decoration: none;}


.sidebar p{
	color: Brown;
	font-family: 'Open Sans', sans-serif;
			}

.container {width:80%;
			margin-right: auto; 
			margin-left: auto;

}

#footer { position:relative;
		width: 80%;
		height: 10%;
		margin-right: auto; 
		margin-left: auto;
		}

#footer img{width:100%;}

.sidebar {
	clear: both;
	display: block;}


.old-post {
 float: left;
 padding:3px 3px 3px 3px;
 margin-top: 2px;
 width:30%;
}

#content {
   float: right;
    width: 60%;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;

}

#footer .text {position:absolute;
		text-align:center;
		top:0px;
		left:0px;
		color:white;
		width: 100%
	}

#footer p {
	text-align:center;
	text-transform: uppercase;
	font-size: 30px;
	top:0;
	bottom:0;	
	position:absolute;	
	height:100%;
	width:100%;
	}

h1 {text-transform: uppercase;
font-family: "impact";
font-size: 30px;
margin: 10px;
}

h2 {text-transform: uppercase;
font-family: "impact";
padding:0px 0px 0px 0px;
font-size: 25px;
margin-top: 8px;
letter-spacing: 1px;
font-family: 'Oswald', sans-serif;

}

ul{font-family: "verdana";}

@media (min-width:600px) {

.sidebar p {color:blue;}

} 


@media (max-width:600px) { 

.nav a {color:red;}

}

@media (max-width:500px){
	.old-post {display:none;}
}

@media (max-width:500px) {
	#content {width:100%;}
	#top-menu {width:100%;}
}